@import url('reset.css');


.float-container{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    background: bisque;

}
.float-first {
    font-size: 0;
}

.float-first > div {
background: green;
outline: 2px solid red;
width: 400px;
height: 400px;
float: left;
font-size: 16px;
}
.clr {
clear: both;
}
.float-second {
font-size: 0;
outline: 2px solid red;
}
.float-second > div {
float: left;
font-size: 16px;
vertical-align: top;
   
}

.one{
    vertical-align: top;
    font-size: 16px;
    width: 800px;
    height: 200px;
    outline:  2px solid red;
}
.one > div {
    height: 200px;
    outline: 2px solid red;
    background: salmon;
}
.second-one {
background: aqua;
outline: 2px solid red;
width: 400px;
font-size: 16px;

}
.second-one > div{
    outline: 2px solid red;
    height:133px;
}
.float-footer {
    font-size: 0;
}
.float-footer > div {
background: orangered;
outline: 2px solid red;
width: 400px;
height: 400px;
float: left;
font-size: 16px;
vertical-align: top;
}
.float-footer > .tree {
width: 800px;

}
.tree {
    width: 800px;

}
.four{
    height: 200px;
    outline: 2px solid red;
}
.five {
    
font-size: 0;
}
.five div {
    background: navy;
    outline: 2px solid red;
}
.five > div {
    float: left;
    font-size: 16px;
    width: 400px;
    height: 200px;
    vertical-align: top;
}
.five > div > div {
    background: mediumpurple;
    height: 100px;
}
